:root {
  --animation-speed: 1s;
  --font: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.pause-animation {
  animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
}

body {
  top: 50%;
  left: 50%;
  text-align: center;
  position: absolute;
  font-family: var(--font);
  transform: translate(-50%, -50%);
}

.heart {
  user-select: none;
  animation: heartbeat var(--animation-speed) infinite;
}

.heart img {
  width: 250px;
}

.bpm {
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
}

button {
  color: #fff;
  margin: 10px;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  background: #444;
  padding: 10px 20px;
  border-color: #444;
  border-radius: 1vh;
}

.error {
  margin-top: 10px;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
